## E-COMMERCE SALES ANALYSIS

### PROBLEM STATEMENT

The objective of this data analysis project is to gain valuable insights from the ecommerce sales data in order to optimize business strategies and drive revenue growth. By examining the sales data, we aim to identify patterns, trends, and factors influencing sales performance, customer behavior, and product popularity. The analysis will enable us to make data-driven decisions and develop actionable recommendations for improving the ecommerce platform's sales performance and overall customer satisfaction.

### QUESTIONS

1.  What are the best performing segments and products (by total amount sold)?
2. What is the sales growth over time?
3. Contribution towards profitability by product. (if other datasets are related)
4. The most popular product category by state
5. Total number of cancelled and returned orders.
6. Highest amount of orders by city
7. States with the highest orders.
8. Are there any seasonal or temporal trends that significantly affect sales patterns?
9. Which product categories or specific products are top performers in terms of sales volume and revenue?
10. Can we identify customer segments based on purchasing behavior and preferences?
11. Which regions have the highest sales volume? Are there any specific geographic areas with potential for growth?
12. Are there any notable differences in sales performance between B2B and B2C customers?
13. What is the distribution of order statuses? Are there any bottlenecks or areas for improvement in the order fulfillment process?
14. Are there any notable differences in sales performance based on the courier status or the method of shipping?
15. How does the fulfillment method (fulfilled-by) impact customer satisfaction and repeat purchases?
16. How does the order quantity (Qty) affect the average order value and revenue?
17. Is there a correlation between promotional activities (promotion-ids) and sales performance? Which promotions have the highest impact on sales?

### IMPORTING LIBRARIES

In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb 
import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

In [16]:
df= pd.read_csv('Amazon Sale Report.csv')
df.head()

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN

In [17]:
df.shape

(128975, 24)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 24 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128975 non-null  int64
 1   Order ID            128975 non-null  object
 2   Date                128975 non-null  object
 3   Status              128975 non-null  object
 4   Fulfilment          128975 non-null  object
 5   Sales Channel       128975 non-null  object
 6   ship-service-level  128975 non-null  object
 7   Style               128975 non-null  object
 8   SKU                 128975 non-null  object
 9   Category            128975 non-null  object
 10  Size                128975 non-null  object
 11  ASIN                128975 non-null  object
 12  Courier Status      122103 non-null  object
 13  Qty                 128975 non-null  int64
 14  currency            121180 non-null  object
 15  Amount              121180 non-null  float64
 16  ship-city           128942 non-null  object
 17  ship-state          128942 non-null  object
 18  ship-postal-code    128942 non-null  float64
 19  ship-country        128942 non-null  object
 20  promotion-ids       79822 non-null   object
 21  B2B                 128975 non-null  bool
 22  fulfilled-by        39277 non-null   object
 23  Unnamed: 22         79925 non-null   object
dtypes: bool(1), float64(2), int64(2), object(19)
memory usage: 22.8+ MB

In [19]:
df.columns

Index(['index', 'Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel ',
       'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN',
       'Courier Status', 'Qty', 'currency', 'Amount', 'ship-city',
       'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids',
       'B2B', 'fulfilled-by', 'Unnamed: 22'],
      dtype='object')

### DATA CLEANING

In [20]:
((df.isna().sum()/len(df))*100).sort_values(ascending = False)

fulfilled-by          69.546811
promotion-ids         38.110487
Unnamed: 22           38.030626
Amount                 6.043807
currency               6.043807
Courier Status         5.328164
ship-country           0.025586
ship-postal-code       0.025586
ship-state             0.025586
ship-city              0.025586
ship-service-level     0.000000
Order ID               0.000000
Date                   0.000000
Status                 0.000000
Fulfilment             0.000000
Sales Channel          0.000000
ASIN                   0.000000
Style                  0.000000
SKU                    0.000000
Category               0.000000
Size                   0.000000
Qty                    0.000000
B2B                    0.000000
index                  0.000000
dtype: float64

In [21]:
df.isna().sum()

index                     0
Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Courier Status         6872
Qty                       0
currency               7795
Amount                 7795
ship-city                33
ship-state               33
ship-postal-code         33
ship-country             33
promotion-ids         49153
B2B                       0
fulfilled-by          89698
Unnamed: 22           49050
dtype: int64

In [22]:
df.nunique()

index                 128975
Order ID              120378
Date                      91
Status                    13
Fulfilment                 2
Sales Channel              2
ship-service-level         2
Style                   1377
SKU                     7195
Category                   9
Size                      11
ASIN                    7190
Courier Status             3
Qty                       10
currency                   1
Amount                  1410
ship-city               8955
ship-state                69
ship-postal-code        9459
ship-country               1
promotion-ids           5787
B2B                        2
fulfilled-by               1
Unnamed: 22                1
dtype: int64

In [23]:
#changind amt to zero where qty is 0
df.loc[df['Qty']==0, 'Amount'] = 0

In [24]:
df['fulfilled-by'] = df['fulfilled-by'].fillna('Unknown')
df['promotion-ids'] = df['promotion-ids'].fillna('Unknown')
df['Amount'] = df['Amount'].fillna(0)
df['Courier Status'] = df['Courier Status'].fillna('Cancelled')
# df['Courier Status'] = df['Courier Status'].str.replace('Unknown', 'Cancelled')
df['ship-city'] = df['ship-city'].fillna(method = 'ffill')
df['ship-country'] = df['ship-country'].fillna(method = 'ffill')
df['ship-state'] = df['ship-state'].fillna(method = 'ffill')
df['ship-postal-code'] = df['ship-postal-code'].fillna(method = 'ffill')

In [25]:
df.drop(columns= ['index', 'Order ID', 'Unnamed: 22', 'currency'], inplace=True)

In [26]:
df.isna().sum()

Date                  0
Status                0
Fulfilment            0
Sales Channel         0
ship-service-level    0
Style                 0
SKU                   0
Category              0
Size                  0
ASIN                  0
Courier Status        0
Qty                   0
Amount                0
ship-city             0
ship-state            0
ship-postal-code      0
ship-country          0
promotion-ids         0
B2B                   0
fulfilled-by          0
dtype: int64

In [28]:
df['Courier Status'].unique()

array(['Cancelled', 'Shipped', 'Unshipped'], dtype=object)

In [29]:
df['ship-city'].value_counts()

BENGALURU                                      11217
HYDERABAD                                       8074
MUMBAI                                          6126
NEW DELHI                                       5795
CHENNAI                                         5421
                                               ...
Khandavalli, peravali mandal, west godavari        1
Bhayander west                                     1
JAKHALMANDI                                        1
Arariya                                            1
Halol                                              1
Name: ship-city, Length: 8955, dtype: int64

In [30]:
df['ship-state'].value_counts()

MAHARASHTRA               22260
KARNATAKA                 17326
TAMIL NADU                11483
TELANGANA                 11330
UTTAR PRADESH             10638
                          ...
Mizoram                       1
rajsthan                      1
Punjab/Mohali/Zirakpur        1
Rajsthan                      1
orissa                        1
Name: ship-state, Length: 69, dtype: int64

In [31]:
df['ship-country'].value_counts()

IN    128942
Name: ship-country, dtype: int64

In [39]:
df.head()

,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,Size,ASIN,Courier Status,Qty,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by
0,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,S,B09KXVBD7Z,Cancelled,0,0.0,MUMBAI,MAHARASHTRA,400081.0,IN,Unknown,False,Easy Ship
1,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,3XL,B09K3WFS32,Shipped,1,406.0,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship
2,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,XL,B07WV4JV4D,Shipped,1,329.0,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,Unknown
3,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,L,B099NRCT7B,Cancelled,0,0.0,PUDUCHERRY,PUDUCHERRY,605008.0,IN,Unknown,False,Easy Ship
4,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,3XL,B098714BZP,Shipped,1,574.0,CHENNAI,TAMIL NADU,600073.0,IN,Unknown,False,Unknown

In [47]:
test = set(df['ship-city'])
test_df = pd.DataFrame(test)

In [56]:
test_df.sort_values(by = '0')

KeyError: '0'

In [58]:
df.select_dtypes('object')

,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,Size,ASIN,Courier Status,ship-city,ship-state,ship-country,promotion-ids,fulfilled-by
0,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,S,B09KXVBD7Z,Cancelled,MUMBAI,MAHARASHTRA,IN,Unknown,Easy Ship
1,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,3XL,B09K3WFS32,Shipped,BENGALURU,KARNATAKA,IN,Amazon PLCC Free-Financing Universal Merchant ...,Easy Ship
2,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,XL,B07WV4JV4D,Shipped,NAVI MUMBAI,MAHARASHTRA,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,Unknown
3,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,L,B099NRCT7B,Cancelled,PUDUCHERRY,PUDUCHERRY,IN,Unknown,Easy Ship
4,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,3XL,B098714BZP,Shipped,CHENNAI,TAMIL NADU,IN,Unknown,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128970,05-31-22,Shipped,Amazon,Amazon.in,Expedited,JNE3697,JNE3697-KR-XL,kurta,XL,B098112V2V,Shipped,HYDERABAD,TELANGANA,IN,Unknown,Unknown
128971,05-31-22,Shipped,Amazon,Amazon.in,Expedited,SET401,SET401-KR-NP-M,Set,M,B09VC6KHX8,Shipped,GURUGRAM,HARYANA,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,Unknown
128972,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0157,J0157-DR-XXL,Western Dress,XXL,B0982YZ51B,Shipped,HYDERABAD,TELANGANA,IN,Unknown,Unknown
128973,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0012,J0012-SKD-XS,Set,XS,B0894Y2NJQ,Shipped,Halol,Gujarat,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,Unknown
128974,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0003,J0003-SET-S,Set,S,B0894X27FC,Shipped,Raipur,CHHATTISGARH,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,Unknown

In [45]:
df['ship-city'].unique().

array(['MUMBAI', 'BENGALURU', 'NAVI MUMBAI', ...,
       'GULABPURA, Distt BHILWARA', 'Prayagraj (ALLAHABAD)', 'Halol'],
      dtype=object)

In [43]:
df.loc[df['ship-state'].isin(['GOA','goa']),'ship-state'] = 'Goa'
df.loc[df['ship-state'].isin(['PUNJAB','Punjab/Mohali/Zirakpur','PB','punjab']),'ship-state'] = 'Punjab'
df.loc[df['ship-state'].isin(['Rajasthan','rajasthan', 'rajsthan','Rajshthan','Rajsthan','RAJASTHAN',]),'ship-state'] = 'Rajasthan'
df.loc[df['ship-state'].isin(['NL','NAGALAND']),'ship-state'] = 'Nagaland'
df.loc[df['ship-state'].isin(['Puducherry']),'ship-state'] = 'Pondicherry'
df.loc[df['ship-state'].isin(['orissa','Odisha','ODISHA']),'ship-state'] = 'Orissa'
df.loc[df['ship-state'].isin(['SIKKIM']),'ship-state'] = 'Sikkim'
df.loc[df['ship-state'].isin(['bihar']),'ship-state'] = 'Bihar'
df.loc[df['ship-state'].isin(['CHANDIGARH']),'ship-state'] = 'Chandigarh'
df.loc[df['ship-state'].isin(['delhi','New Delhi','DELHI']),'ship-state'] = 'Delhi'

In [57]:
df['ship-state'].unique()

array(['MAHARASHTRA', 'KARNATAKA', 'PUDUCHERRY', 'TAMIL NADU',
       'UTTAR PRADESH', 'Chandigarh', 'TELANGANA', 'ANDHRA PRADESH',
       'Rajasthan', 'Delhi', 'HARYANA', 'ASSAM', 'JHARKHAND',
       'CHHATTISGARH', 'Orissa', 'KERALA', 'MADHYA PRADESH',
       'WEST BENGAL', 'Nagaland', 'Gujarat', 'UTTARAKHAND', 'BIHAR',
       'JAMMU & KASHMIR', 'Punjab', 'HIMACHAL PRADESH',
       'ARUNACHAL PRADESH', 'MANIPUR', 'Goa', 'MEGHALAYA', 'TRIPURA',
       'LADAKH', 'DADRA AND NAGAR', 'Sikkim', 'ANDAMAN & NICOBAR ',
       'Manipur', 'Bihar', 'MIZORAM', 'Pondicherry', 'RJ', 'LAKSHADWEEP',
       'APO', 'Arunachal Pradesh', 'AR', 'Arunachal pradesh', 'Mizoram',
       'Meghalaya'], dtype=object)

In [62]:
df.to_csv('Amazon_Sale_Report_updated', index = False)

In [27]:
cat_col = [i for i in df.select_dtypes(include=['object', 'category'])]
num_col = [i for i in df.select_dtypes(include=['int', 'float'])]

In [28]:
df[cat_col] = df[cat_col].apply(lambda x: x.str.lower())

In [29]:
for col in cat_col:
    print("Total Number of unique values in the {} Column : {}". format(col, len(df[col].unique().tolist())))
    print('\n')

Total Number of unique values in the Date Column : 91


Total Number of unique values in the Status Column : 13


Total Number of unique values in the Fulfilment Column : 2


Total Number of unique values in the Sales Channel  Column : 2


Total Number of unique values in the ship-service-level Column : 2


Total Number of unique values in the Style Column : 1377


Total Number of unique values in the SKU Column : 7195


Total Number of unique values in the Category Column : 9


Total Number of unique values in the Size Column : 11


Total Number of unique values in the ASIN Column : 7190


Total Number of unique values in the Courier Status Column : 3


Total Number of unique values in the ship-city Column : 7297


Total Number of unique values in the ship-state Column : 47


Total Number of unique values in the ship-country Column : 1


Total Number of unique values in the promotion-ids Column : 5788


Total Number of unique values in the fulfilled-by Column : 2

In [32]:
set(df['fulfilled-by'])

{'easy ship', 'unknown'}

In [41]:
for col in ['Sales Channel ', 'Status', 'Category', 'ship-country', 'fulfilled-by', 'ship-state', 'Fulfilment']:
    print(f"set of values in the {col}: {set(df[col])}")
    print('\n')

set of values in the Sales Channel : {'amazon.in', 'non-amazon'}


set of values in the Status: {'shipped - rejected by buyer', 'shipped - out for delivery', 'shipped', 'pending', 'shipped - delivered to buyer', 'shipped - returning to seller', 'shipped - picked up', 'shipped - lost in transit', 'pending - waiting for pick up', 'shipped - damaged', 'cancelled', 'shipping', 'shipped - returned to seller'}


set of values in the Category: {'western dress', 'kurta', 'blouse', 'ethnic dress', 'saree', 'bottom', 'top', 'dupatta', 'set'}


set of values in the ship-country: {'in'}


set of values in the fulfilled-by: {'unknown', 'easy ship'}


set of values in the ship-state: {'madhya pradesh', 'sikkim', 'uttarakhand', 'chhattisgarh', 'karnataka', 'dadra and nagar', 'tamil nadu', 'haryana', 'ar', 'west bengal', 'nl', 'telangana', 'bihar', 'meghalaya', 'new delhi', 'punjab/mohali/zirakpur', 'uttar pradesh', 'andhra pradesh', 'tripura', 'rj', 'chandigarh', 'assam', 'ladakh', 'pondicherry', 'rajshthan', 'kerala', 'pb', 'nagaland', 'gujarat', 'rajasthan', 'goa', 'lakshadweep', 'jharkhand', 'mizoram', 'orissa', 'puducherry', 'apo', 'jammu & kashmir', 'odisha', 'arunachal pradesh', 'delhi', 'rajsthan', 'maharashtra', 'himachal pradesh', 'manipur', 'andaman & nicobar ', 'punjab'}


set of values in the Fulfilment: {'amazon', 'merchant'}

In [ ]:
import pandas as pd

# Define the set of correct values
correct_values = {'madhya pradesh', 'sikkim', 'uttarakhand', 'chhattisgarh', 'karnataka', 'dadra and nagar',
                  'tamil nadu', 'haryana', 'ar', 'west bengal', 'nl', 'telangana', 'bihar', 'meghalaya',
                  'new delhi', 'punjab/mohali/zirakpur', 'uttar pradesh', 'andhra pradesh', 'tripura', 'rj',
                  'chandigarh', 'assam', 'ladakh', 'pondicherry', 'rajasthan', 'kerala', 'pb', 'nagaland',
                  'gujarat', 'rajasthan', 'goa', 'lakshadweep', 'jharkhand', 'mizoram', 'odisha', 'puducherry',
                  'apo', 'jammu & kashmir', 'arunachal pradesh', 'delhi', 'rajsthan', 'maharashtra',
                  'himachal pradesh', 'manipur', 'andaman & nicobar', 'punjab'}

# Function to clean up the state values
def clean_state(state):
    state = state.lower().strip()  # Convert to lowercase and remove leading/trailing spaces
    if state in correct_values:
        return state
    else:
        # Perform fuzzy matching to find the closest correct value
        closest_match = difflib.get_close_matches(state, correct_values, n=1)
        if closest_match:
            return closest_match[0]
        else:
            return None

# Read the data into a DataFrame
df = pd.read_csv('your_data.csv')  # Replace 'your_data.csv' with your actual data file

# Apply the clean_state function to the 'ship-state' column
df['ship-state'] = df['ship-state'].apply(clean_state)

# Remove rows with None values (unmatched states)
df = df.dropna(subset=['ship-state'])

# Print the cleaned unique values in the 'ship-state' column
print(df['ship-state'].unique())